.collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    background-color: #784eeb;
}

.navbar-brand {
    font-size: 24px;
}

.nav-item {
    font-size: 20px;
    margin-left: 70px;
}

.main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 650px;
    background-color: black;
}

.main .bgcolorb {
    width: 25%;
    height: 650px;
    background-color: rgb(179, 179, 179);
}

.main .bgcolorb .text-search {
    display: flex;
    justify-content: flex-start;
}

.main .bgcolorb .text-search .search {
    margin-top: 10px;
    margin-left: 15px;
    width: 90%;
    height: 30px;
}

.main .bgcolorb .link-tutor {
    padding-left: 10px;
    font-size: 15px;
}

.main .content {
    width: 75%;
    height: 650px;
    background-color: rgb(226, 225, 225);
}

.main .content .title-site {
    margin-top: 12px;
    text-align: center;
}

.main .content h4 {
    margin-left: 20px;
}

.main .content p {
    margin-left: 40px;
}

.main .content ul {
    margin-left: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: black;
    text-align: center;
}

.footer p {
    color: white;
}

.footer .side-c {
    padding-left: 350px;
}